/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

//Save font and font colour
$font: 'Segoe UI';
$color: #FFFFFF;

//Make all content centered by default
*{
  margin: 0 auto;
}
.main_body{
  text-align: center;
  margin: 0 auto;
}

//Sets background image such that scrolling will not move the image,
//additionally makes the image fit any screen shape
body{
  font-family: $font;
  font-weight: bold;
  background-color: $color;
  background-image: url("DesktopBack.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  text-align: center;
}

//Makes header text appear on left
.header{
  text-align: left;
  padding-left: 5vw;
}

//centers login form
#login{
  text-align: center;
}

//changes login form if screen is in portrait mode
@media (orientation: portrait){
  #login{
    font-size: calc(18px + (35 - 18) * ((100vw - 300px) / (1600 - 300)));
    width: 60%;
  }
  #form_break{
    display: block;
    margin-bottom: 15vh;
  }
}

//changes login form if screen is in landscape mode
@media (orientation: landscape){
  #login{
    font-size: calc(13px + (23  - 13) * ((100vw - 300px) / (1600 - 300)));
  }

  //if screen is not very wide, the form will take up more space than if the screen is very wide
  @media (max-width: 999px){
    #login{
      width: 60%;
    }
  }
  @media (min-width: 1000px) {
    #login {
      width: 45%;
    }
  }
  #form_break{
    display: block;
    margin-bottom:10vh;
  }
}

//#change_div{
//  text-align: right;
//  padding: 30px;
//}

//Sets input form to have curved fields and black buttons, additionally uses calc()
//to produce responsive text size
input {
  border-radius: 20px;
  outline: none;
  margin: 5px;
  background-color: #BBBBBB;
  padding: 5px 18px 5px 18px;
  border-width: 0;
  border-color: black;
  font-weight: lighter;
  font-size: calc(13px + (18  - 13) * ((100vw - 300px) / (1600 - 300)));
  color: #6d6d6d;
  width: 90%;
  max-width: 400px;
}

.submit{
  background-color: black;
  color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
  padding: 2px 10px 3px 10px;
  width: calc(65px + (90  - 65) * ((100vw - 300px) / (1600 - 300)));
  height: calc(22px + (31  - 22) * ((100vw - 300px) / (1600 - 300)));
}

h1{
  text-transform: uppercase;
}

//formats each post and issue into a grey block such that they are easier to read
#post_block{
  background-color: #BBBBBB;
  border-radius: 10px;
  width: calc(200px + (500 - 200)*((100vw - 300px) / (1600 - 300)));
  height: fit-content;
  padding: 5px 0;
  margin: 10px auto;
}