- flash.each do |key, value|
  = content_tag :div, content_tag(:p, value), id: "#{key}" unless value.blank?

%nav.navbar.navbar-default{:role => "navigation"}
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => root_path} Post Board
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          %a{:href => posts_path} Posts
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown"}
            Login
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              %a{:href => root_path} Sign In
            %li
              %a{:href => new_user_path} Register
        %li
          %a{:href => contact_path} Contact Us
        %li
          %a{:href => issues_path} Check Issues





%h1{:class => "header"}=t('.title_top')
%h1{:class => "header"}=t('.title_bottom')
