/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$font: 'Times New Roman', 'Times', serif;
$color: #FFFFFF;

*{
  margin: 0 auto;
}

.main_body{
  text-align: center;
  margin: 0 auto;
}

body{
  font-family: $font;
  background-color: $color;
  text-align: center;
}

#header{
  text-align: left;
}

#login{
  font-size: 20px;
  text-align: center;
  width: 450px;
}

#form_break{
 display: block;
  margin-bottom: 150px;
}

#input_button {
  margin: 10px;
}

#change_div{
  text-align: right;
}

input {
  border-radius: 30px;
  border-width: 1px;
  outline: none;
  margin: 7px;
}

.submit{
  width: 100px;
  height: 40px;
}

h1{
  text-transform: uppercase;
}
